body {
    margin: 0 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 36px;
    font-weight: 600;
    font-size: 16px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: #1ba3c5;

            &::before {
                transform: translateX(84px);
            }

            &::after {
                content: 'Enabled';
                position: absolute;
                top: 5px;
                left: -64px;
                color: #fff;
                transform: translateX(84px);
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: transform .4s ease;
        border-radius: 34px;
        overflow: hidden;

        &::before {
            position: absolute;
            content: '';
            height: 28px;
            width: 28px;
            left: 4px;
            top: 4px;
            background-color: white;
            // transition: transform .4s;
            border-radius: 50%;
        }

        &::after {
            content: 'Disabled';
            position: absolute;
            top: 5px;
            right: 16px;
            color: #343a40;
            // transition: transform .4s;
            transform: translateX(0);
        }
    }
}
.notice {
    display: none;
}
#select {
    width: 50%;
}
.container:not(:first-child) {
    border: 1px solid #cecece;
    border-radius: 10px;
}
.title {
    color: #1ba3c5;
}
.list {
    display: flex;
    flex-wrap: wrap;
    .person {
        position: relative;
        margin: 0 10px 20px 0;
        border-radius: 10px;
        z-index: 2;
    }
    h4 {
        line-height: 30px;
        font-size: 18px;
        background-color: #eaffef;
        padding: 0 5px;
    }
    p {
        padding: 0 5px;
        font-size: 18px;
        line-height: 26px;
        background-color: #d7faf4;
    }
    a {
        font-size: 12px;
        @media (min-width: 1024px) {
            font-size: 15px;
        }
    }
}
.demo {
    &:first-child {
        transition: 0.3s all;
        &:before {
            content: '';
            position: absolute;
            height: 112%;
            width: 106%;
            top: -8%;
            left: -3%;
            background-color: #4be6d5;
            border-radius: 10px;
            border-top-right-radius: 0;
            z-index: -1;
        }
        &:after {
            content: 'person';
            position: absolute;
            top: -30px;
            right: -3%;
            color: #fff;
            font-size: 18px;
            background-color: #4be6d5;
            padding: 0 10px;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        @media (min-width: 950px) {
            &:before {
                width: 103%;
                left: -1.5%;
            }
            &:after {
                right: -1.5%;
            }
        }
    }
}
.developer {
    text-align: center;
    font-weight: bold;
    span {
        color: #007bff;
        font-size: 20px;
    }
    a {
        color: #007bff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
@media (max-width: 767px) {
    .container {
        display: none
    }
    .notice {
        display: block;
    }
}